.container {
  padding: 0 10vw;
  font-family: Abel;
}

.table th {
  background-color: #2196e4;
}

.product-image {
  height: 75px;
  mix-blend-mode: multiply;
}

.product-image {
  transition: transform 0.5s ease;
}

.product-image:hover {
  transform: scale(1.5);
}

.cart-button {
  width: 5vw;
}
